/* Navbar.module.css */
.NavBar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
  overflow-y: auto; /* Adiciona rolagem vertical quando necessário */
}

/* Estilo para os botões do NavBar */
.NavItem {
  font-family: sans-serif;
  font-size: 16px; /* Tamanho de fonte padrão */
  line-height: 1.5; /* Espaçamento entre linhas padrão */
  margin: 2px 0; /* Ajusta a margem vertical para espaçar os botões */
  writing-mode: vertical-lr; /* Define a orientação da escrita vertical para a direita */
  text-decoration: ltr;  cursor: pointer; /* Altera o cursor ao passar por cima para indicar que é clicável */
  padding: 8px; /* Adicione algum preenchimento interno para torná-lo mais clicável */
  background-color: #0074d9; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  border: 1px solid #fff; /* Adicione uma borda sólida branca */
  border-radius: 4px; /* Cantos arredondados */
  transition: background-color 0.3s, transform 0.3s; /* Adiciona transições suaves */

}

.NavItem:hover {
  background-color: #0056b3; /* Cor de fundo ao passar por cima */
  transform: scale(1.1); /* Efeito de escala ao passar por cima */
}

/* Remova a borda do último botão para evitar uma borda extra no final */
.NavItem:last-child {
  border: none;
}
