.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

ul {
  text-align: left;
}

a {
  text-decoration: none;
}
/* styles.css */
button {
  background-color: #007BFF; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  border: none; /* Sem borda */
  border-radius: 4px; /* Borda arredondada */
  padding: 10px 20px; /* Espaçamento interno */
  cursor: pointer; /* Ícone de cursor de mão */
  font-size: 16px; /* Tamanho da fonte */
  transition: background-color 0.3s; /* Transição suave da cor de fundo */

  /* Adicione outros estilos modernos desejados */
}

button:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.Link {
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
